<div>
	<a href="#home">
		<button type="button" class="btn btn-info">
			Back
		</button>
	</a>
	<h1>Personal information</h1>
	<p><b>Name:</b> {{info.basics.name}}</p>
	<p><b>Occupation:</b> {{ info.basics.label }}</p>
	<p><b>Adress:</b><span ng-repeat="(key, value) in info.basics.location"> {{value}} </span></p>
	<p><b>Phone:</b> {{ info.basics.phone }} </p>
	<p><b>Email:</b> {{ info.basics.email }} </p>
	<p><b>Interests:</b> {{ info.basics.summary }} </p>
	<h1>Work experience</h1>
	<div ng-repeat="work in info.work" class="well">
		<p><b>Dates:</b> {{work.startDate}} - {{work.endDate}}</p>
		<p><b>Company:</b> {{ work.company }} </p>
		<p><b>Position:</b> {{ work.position }} </p>
		<p><b>Responsibilities:</b> {{ work.responsibilities }} </p>
		<p><b>Type of company:</b> {{ work.companyType }} </p>
		<p><b>Company Website:</b> {{ work.website }} </p>
	</div>